<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dharamvirsingh.hangover">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bad"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Play_Game" />
        <activity android:name=".About_Activity" />
        <activity android:name=".Bollywood_List" />
        <activity android:name=".Hollywood_List" />
        <activity android:name=".Tollywood_List" />
        <activity android:name=".Tv_Series_List" />
        <activity android:name=".Music_List" />
        <activity android:name=".BLevel_1" />
        <activity android:name=".BLevel_2" />
        <activity android:name=".BLevel_3" />
        <activity android:name=".BLevel_4" />
        <activity android:name=".BLevel_5" />
        <activity android:name=".BLevel_6" />
        <activity android:name=".BLevel_7" />
        <activity android:name=".BLevel_8" />
        <activity android:name=".BLevel_9" />
        <activity android:name=".BLevel_10" />
        <activity android:name=".HLevel_1" />
        <activity android:name=".HLevel_2" />
        <activity android:name=".HLevel_3" />
        <activity android:name=".HLevel_4" />
        <activity android:name=".HLevel_5" />
        <activity android:name=".HLevel_6" />
        <activity android:name=".HLevel_7" />
        <activity android:name=".HLevel_8" />
        <activity android:name=".HLevel_9" />
        <activity android:name=".HLevel_10" />
        <activity android:name=".TLevel_1" />
        <activity android:name=".TLevel_2" />
        <activity android:name=".TLevel_3" />
        <activity android:name=".TLevel_4" />
        <activity android:name=".TLevel_5" />
        <activity android:name=".TLevel_6" />
        <activity android:name=".TLevel_7" />
        <activity android:name=".TLevel_8" />
        <activity android:name=".TLevel_10" />
        <activity android:name=".SLevel_1" />
        <activity android:name=".SLevel_2" />
        <activity android:name=".SLevel_3" />
        <activity android:name=".SLevel_4" />
        <activity android:name=".SLevel_5" />
        <activity android:name=".SLevel_6" />
        <activity android:name=".SLevel_7" />
        <activity android:name=".SLevel_8" />
        <activity android:name=".SLevel_9" />
        <activity android:name=".SLevel_10" />
        <activity android:name=".MLevel_1" />
        <activity android:name=".MLevel_2" />
        <activity android:name=".MLevel_3" />
        <activity android:name=".MLevel_4" />
        <activity android:name=".MLevel_5" />
        <activity android:name=".MLevel_6" />
        <activity android:name=".MLevel_7" />
        <activity android:name=".MLevel_8" />
        <activity android:name=".MLevel_9" />
        <activity android:name=".MLevel_10" />
        <activity android:name=".BLevel_11" />
        <activity android:name=".BLevel_12" />
        <activity android:name=".BLevel_13" />
        <activity android:name=".BLevel_14" />
        <activity android:name=".BLevel_15" />
        <activity android:name=".BLevel_16" />
        <activity android:name=".BLevel_17" />
        <activity android:name=".BLevel_18" />
        <activity android:name=".BLevel_19" />
        <activity android:name=".BLevel_20" />
        <activity android:name=".HLevel_11" />
        <activity android:name=".HLevel_12" />
        <activity android:name=".HLevel_13" />
        <activity android:name=".HLevel_14" />
        <activity android:name=".HLevel_15" />
        <activity android:name=".HLevel_16" />
        <activity android:name=".HLevel_17" />
        <activity android:name=".HLevel_18" />
        <activity android:name=".HLevel_19" />
        <activity android:name=".HLevel_20" />
        <activity android:name=".SLevel_11" />
        <activity android:name=".SLevel_12" />
        <activity android:name=".SLevel_13" />
        <activity android:name=".SLevel_14" />
        <activity android:name=".SLevel_15" />
        <activity android:name=".SLevel_16" />
        <activity android:name=".SLevel_17" />
        <activity android:name=".SLevel_18" />
        <activity android:name=".SLevel_19" />
        <activity android:name=".SLevel_20" />
        <activity android:name=".TLevel_11" />
        <activity android:name=".TLevel_12" />
        <activity android:name=".TLevel_13" />
        <activity android:name=".TLevel_14" />
        <activity android:name=".TLevel_15" />
        <activity android:name=".TLevel_16" />
        <activity android:name=".TLevel_17" />
        <activity android:name=".TLevel_18" />
        <activity android:name=".TLevel_19" />
        <activity android:name=".TLevel_20" />
        <activity android:name=".MLevel_11" />
        <activity android:name=".MLevel_12" />
        <activity android:name=".MLevel_13" />
        <activity android:name=".MLevel_14" />
        <activity android:name=".MLevel_15" />
        <activity android:name=".MLevel_16" />
        <activity android:name=".MLevel_17" />
        <activity android:name=".MLevel_18" />
        <activity android:name=".MLevel_19" />
        <activity android:name=".MLevel_20"></activity>
    </application>

</manifest>